<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main page{% endblock %}</title>
</head>
<body>
    <div>
        <h1>Title!</h1>
      <ul>
          <li> <a href="{{ url_for('posts') }}">Go to posts!</a></li>
          <li> <a href="{{ url_for('show_users_profile') }}">Go to users!</a> </li>
          {% if 'username' in session %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li> <a href="{{ url_for('login') }}">Let's Login!</a> </li>
          <li> <a href="{{ url_for('register') }}">Let's Sign up!</a> </li>
          {% endif %}
          <li> <a href="{{ url_for('about') }}">About</a> </li>
      </ul>
    </div>
{% block content %}{% endblock %}
</body>
</html>