{% extends 'home.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <form method="post">
   <img class="mb-4" src="{{ url_for('static', filename='assets/images/login-svgrepo-com.svg') }}" alt="" width="275" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="username" required>
      <label for="username">Username</label><br>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" required>
      <label for="password">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 1488</p>
      <a href="{{ url_for('home') }}">Back to home</a>
  </form>
 </main>
{% endblock %}