{% extends 'home.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="username" required>
      <label for="username">Username</label><br>
      {% for error in form.username.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" required>
      <label for="password">Password</label>
      {% for error in form.password.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
        {% endfor %}
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Confirm</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 1488</p>
      <a href="{{ url_for('home') }}">Back to home</a>
  </form>
 </main>
{% endblock %}